[submodule "content/AleixMT"]
	path = content/AleixMT
	url = https://github.com/AleixMT/AleixMT
[submodule "content/AleixMT.github.io"]
	path = content/AleixMT.github.io
	url = https://github.com/AleixMT/AleixMT.github.io
